footer {
    height: minmax(9vh,11vh);
    padding: 0 7vh;
    background-color: $corFundo;
    display: flex;
    justify-content: space-between;
    justify-self: flex-end;
    align-items: center;

    li {
        list-style: none;
        display: inline-block;
        margin-left: 2vh;
    }

    p {
        font-weight: bold;
        color: $footer;
        font-size: 1.9vh;
    }

    a {
        transition: 0.3s ease-out;
        display: block;
        &:hover {
            transform: rotate(6deg);
        }
    }
}

.github {
    display: block;
    height: 6vh;
    width: 6vh;
    border-radius: 1vh;
    -webkit-border-radius: 1vh;
    -moz-border-radius: 1vh;
    -ms-border-radius: 1vh;
    -o-border-radius: 1vh;
}

.linkeding {
    height: 7vh;
    width: 7vh;
    display: block;
}
