.header {
    text-align: center;
    background-color: $fundo2;

    select {
        height: 8vh;
        width: 29vh;
        margin-bottom: 3.5vh;
        font-size: 2.5vh;
        padding: .5vh;
        color: $fontCor;
        font-weight: bold;
        border-radius: 1vh;
        outline: none;
        background-color: $selectFundo;
        box-shadow: 1vh 1vh $selectBox;
}

    h1 {
        font-size: 5vh;
        color: $h1Font;
    }
}
