.slideshow {
    flex: 1;
    background-color: $corFundo;
    position: relative;
    overflow: hidden;
}

.slide {
    position: absolute;
    top: 4vh;
    bottom: 0;
    left: 0;
    right: 0;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    opacity: 0;
    transform: scale(1);
    transition: all .75s ease-out;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    -webkit-transition: all .75s ease-out;
    -moz-transition: all .75s ease-out;
    -ms-transition: all .75s ease-out;
    -o-transition: all .75s ease-out;
}

.slide:nth-last-child(2) {
    opacity: 1;
    transform: scale(1.08);
}
