.header {
    text-align: center;
    background-image: linear-gradient(-45deg, $fundo2, $fundoDegrade2);

    select {
        height: 8vh;
        width: 29vh;
        @media only screen and (max-width: 300px) {
            width: 22vh;
            height: 6vh;
        }
        margin-bottom: 3.5vh;
        font-size: 2.5vh;
        padding: .5vh;
        color: $fontCor;
        font-weight: bold;
        border-radius: 1vh;
        outline: none;
        background-color: $selectFundo;
        box-shadow: 1vh 1vh $selectBox;
        text-shadow: .8vh .8vh 1.6vh $fontSombra2;
}

    h1 {
        font-size: 5vh;
        color: $h1Font;
        text-shadow: .2vh .2vh .3vh $fontSombra;
    }
}
