.slideshow {
    flex: 1;
    background-color: $corFundo;
    position: relative;
    overflow: hidden;
}

.slide {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    opacity: 0;
    transform: scale(1);
    transition: all .9s ease-out;
}

.slide:nth-last-child(2) {
    opacity: 1;
    transform: scale(1.08);
}
