$corFundo: #616060;
$fundo2: #F2E9DC;
$fontCor: #000;
$h1Font: #000;
$fontSombra: rgba(59, 59, 59, 0.8);
$fontSombra2: rgba(179, 162, 162, 0.555);
$selectFundo: rgb(241, 223, 223);
$fundoDegrade:  #3d3c3c;
$fundoDegrade2:  #c9c0b5;
$selectBox: rgba(179, 162, 162, 0.212);
$footer: rgb(161, 161, 161);
